<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static "css/about.css" %}">

    <title></title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
          <h1 class="tt">GROWTH.com</h1>
            <p class="side">THE WORLD'S LARGEST ALL-IN-ONE SITE</p>
        </div>
      </div>
    </header>
    <ul>
    <li ><h1 class="active" >ABOUT US</h1></li>
    <li id="o"><a href="/home"><i class="fa fa-home" style="font-size:24px">Home</i></a></li>
    <li id="o"><a href="/story">Stories</a></li>
    <li id="o"><a href="/rent">Rental</a></li>
    <li id="o"><a href="/plan">Planner</a></li>
    <li id="o"><a href="/contact">Contact</a></li>
    <li ><a class="ss" href="/accounts/logout/">Logout</a></li>
    <li><a class="ss" href="/signup">SignUp</a></li>
    <li><a class="ss" href="/accounts/login/">Login</a></li>
  </ul>
  <section class="abot">
    <div class="container">
    <div class="abt">
    <h2>Useful</h2>
    <h2>Easy</h2>
    <h2>Standard</h2>
    <h2 id="i"><i class="fa fa-themeisle" style="font-size:60px;color:red"></i></h2>
    <h2>Funny</h2>
    <h2>Community</h2>
    <h2>Engage</h2>
  </div>
</div>
<h1 id="us">'US'</h1>
  </section>
  <section class="next">
    <div class="container">
      <h2>About Us</h2>
      <p><i class='fa fa-arrow-down' style='font-size:48px;color:gray'></i></p>
      <h1>What We Do.</h1>
      <h4>It’s important that you choose an idea which interests you. Interest <br>
         is key to fuelling motivation which is crucial when making a <br> web app.It takes effort building web apps and  you have fun during the process.</h4>
    </div>
    <div class="container">
          <div class="row">
      <div class="col-sm-8 col-sm-4">
        <p class="one"><img id="ab"src="{% static "images/about.jpg_fit=scale" %}" alt=""></p>
        <h1></h1>
      </div>
      <div class="col-sm-8 col-sm-4">
        <p class="one"><img id="ab"src="{% static "images/about1.webp" %}" alt=""></p>
        <h1></h1>
      </div>
    </div>
  </div>
  </div>
  <div class="titl">
      <div class="tit">
      <div class="container">
        <div class="row">
    <div class="col-sm-8 col-sm-4">
      <h3>Digital Business</h3>
      <p>Creating pages and services that flatform to all of us users and mking intresting and giving
      many facility for this digital era.</p><br>
    </div>
    <div class="col-sm-8 col-sm-4">
      <h3>Itegrated Website</h3>
      <p>Buildings integreated and driving sites for all of us.With a many facilities we always updates
      for you.so just connect to us enjoy it. </p><br>
    </div>
  </div>
  </div>
</div>
</div>
</div>
<div class="imag">
  <div class="container">
  <div class="our"><br><br>
    <h1>Our Capabilities</h1><br>
    <h4 id="h">Emerging Work</h4>
    <h4 id="h">Working Draft</h4>
    <h4 id="h">Connect Users</h4>
    <h4 id="h">Contact Customers</h4>
    <h4 id="h">Client Service</h4>
    <h4 id="h">User Interaction</h4>
    <h4 id="h">Graphics Design</h4><br><br>
  </div>
</div>
</div>
</section><br>
<section class="work">
  <div class="container"><br><br>
      <h1>How We Work.</h1>
      <p>Our small teams management works on a big challenges for all users <br>and
      honest connection and connection with our clients.</p>
    </div>
    <div class="team">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <h2 id="sss">Small Teams</h2>
      </div>

      <div class="col-sm-12 col-md-4">
      <i class='fa fa-users' style='font-size:158px;color:white;'></i>
      </div>
      <div class="col-sm-12 col-md-4">
        <ol>
          <li id="li">Interdiciplinery teams with a big teams ideas.</li>
          <li id="li">Design and photogramy from day one.</li>
        </ol>
      </div>
  </div>
</div>
<div >
  <br>
  <h2 id="hh"></h2>
</div>
<div class="team">
<div class="row">
  <div class="col-sm-12 col-md-4">
    <h2 id="sss">Clients As Partner</h2>
  </div>

  <div class="col-sm-12 col-md-4">
  <i class='fa fa-user-secret' style='font-size:158px;color:white;'></i>
  </div>
  <div class="col-sm-12 col-md-4">
    <ol>
      <li id="li">Clients joins our team to help us and make easy.</li>
      <li id="li">Always posting for vacciencies to connect.</li>
    </ol>
  </div>
</div>
</div>
<div >
  <br>
  <h2 id="hh"></h2>
</div>
<div class="container">
<div class="team">
  <h2 id="sim">A Simple,Iterrative process</h2>
</div>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <i id="faa" class='fa fa-retweet' style='font-size:158px;color:white;'></i>
  </div>

  <div class="col-sm-12 col-md-4">
  <i id="faa" class='fa fa-random' style='font-size:158px;color:white;'></i>
  </div>
  <div class="col-sm-12 col-md-4">
    <i id="faa" class='fa fa-bolt' style='font-size:158px;color:white;'></i>
  </div>
</div>
</div>
<div class="container">
<div class="team">
</div>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <h4>Learn</h4>
  </div>

  <div class="col-sm-12 col-md-4">
    <h4>Iterate</h4>
  </div>
  <div class="col-sm-12 col-md-4">
    <h4>Launch</h4>
  </div>
</div>
</div><br><br><br>
</section>
<div class="image">
  <div class="row">
    <div class="col-sm-12 col-md-6">
  <img id="src" src="{% static "images/map.png" %}" alt="">
</div>
  <div class="col-sm-12 col-md-6">
    <h2>Our Offices</h2>
  <p><i class="fa fa-map-marker" style="font-size:24px"></i>	Banglore</p>
  <p><i class="fa fa-map-marker" style="font-size:24px"></i>  Hydradbad</p>
  <p><i class="fa fa-map-marker" style="font-size:24px"></i>  Pune</p>
  <p><i class="fa fa-map-marker" style="font-size:24px"></i>  Mumbai</p>
  <p><i class="fa fa-map-marker" style="font-size:24px"></i>  Bihar</p>
  <p><i class="fa fa-map-marker" style="font-size:24px"></i>  Orrisa</p>
</ul>
</div>
</div>
</div>

  </body>
</html>
