<!DOCTYPE html>
{%extends 'newApp/bike.html'%}
{% load static %}
{% block abc %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static "css/bike.css" %}">
{%endblock%}
{%block body_blacks%}
<section class="one">
  <h1 id="ii">OUR BIKES DETAILS </h1>
  <p id="ij"></p>
  <div class="row">
    <div class="col-sm-12 col-md-4"><br><br>
      <img id="ab"src="{% static "images/bike1.webp" %}" alt="">
    </div>
    <div class="col-sm-12 col-md-6">
      <h1 id="r">Royal Enfield Bike</h1>
      <p id="s">Service Location: <span>Kerala</span> </p>
      <p id="s">Color: <span>Black</span> </p>
      <p id="s">Brand  : <span>Indian Motors</span> </p>
      <p id="s">No Of Person: <span>Two</span> </p>
      <p id="s">Mileage: <span>37Km/L</span> </p>
  </div>
    <div class="col-sm-12 col-md-2"><br><br><br><br><br><br><br><br>
      <a class="hr" href="#">BOOK NOW</a>
    </div>
  </div><br><br><br>
  <div class="row">
    <div class="col-sm-12 col-md-4"><br><br>
      <img id="ab"src="{% static "images/bike2.jpg" %}" alt="">
    </div>
    <div class="col-sm-12 col-md-6">
      <h1 id="r">Royal Enfield Bike</h1>
      <p id="s">Service Location: <span>Kerala</span> </p>
      <p id="s">Color: <span>Black</span> </p>
      <p id="s">Brand  : <span>Indian Motors</span> </p>
      <p id="s">No Of Person: <span>Two</span> </p>
      <p id="s">Mileage: <span>37Km/L</span> </p>
  </div>
    <div class="col-sm-12 col-md-2"><br><br><br><br><br><br><br><br><br><br>
      <a class="hr" href="#">BOOK NOW</a>
    </div>
  </div><br><br><br>
  <div class="row">
    <div class="col-sm-12 col-md-4"><br><br>
      <img id="ab"src="{% static "images/bike3.jpg" %}" alt="">
    </div>
    <div class="col-sm-12 col-md-6">
      <h1 id="r">Royal Enfield Bike</h1>
      <p id="s">Service Location: <span>Kerala</span> </p>
      <p id="s">Color: <span>Black</span> </p>
      <p id="s">Brand  : <span>Indian Motors</span> </p>
      <p id="s">No Of Person: <span>Two</span> </p>
      <p id="s">Mileage: <span>37Km/L</span> </p>
  </div>
    <div class="col-sm-12 col-md-2"><br><br><br><br><br><br><br><br><br><br>
      <a class="hr" href="#">BOOK NOW</a>
    </div>
  </div><br><br><br>
  <div class="row">
    <div class="col-sm-12 col-md-4"><br><br>
      <img id="ab"src="{% static "images/bike4.webp" %}" alt="">
    </div>
    <div class="col-sm-12 col-md-6">
      <h1 id="r">Royal Enfield Bike</h1>
      <p id="s">Service Location: <span>Kerala</span> </p>
      <p id="s">Color: <span>Black</span> </p>
      <p id="s">Brand  : <span>Indian Motors</span> </p>
      <p id="s">No Of Person: <span>Two</span> </p>
      <p id="s">Mileage: <span>37Km/L</span> </p>
  </div>
    <div class="col-sm-12 col-md-2"><br><br><br><br><br><br><br><br><br><br>
      <a class="hr" href="#">BOOK NOW</a>
    </div>
  </div><br><br><br>
  <div class="row">
    <div class="col-sm-12 col-md-4"><br><br>
      <img id="ab"src="{% static "images/bike5.jpg" %}" alt="">
    </div>
    <div class="col-sm-12 col-md-6">
      <h1 id="r">Royal Enfield Bike</h1>
      <p id="s">Service Location: <span>Kerala</span> </p>
      <p id="s">Color: <span>Black</span> </p>
      <p id="s">Brand  : <span>Indian Motors</span> </p>
      <p id="s">No Of Person: <span>Two</span> </p>
      <p id="s">Mileage: <span>37Km/L</span> </p>
  </div>
    <div class="col-sm-12 col-md-2"><br><br><br><br><br><br><br><br><br><br>
      <a class="hr" href="#">BOOK NOW</a>
    </div>
  </div>
</section>

{%endblock%}
I'm available full time for next 2 months.
This is a wonderful opportunity for me to get interviewed at such a renowned company.Your organization will surely prove to be an excellent platform for me to establish my skills and knowledge in the corporate world.Even though I am a fresher, I assure you that I will give my best and work to my full potential so that I can contribute as much as I can towards the growth and welfare of this great brand.
https://drive.google.com/drive/folders/1WMZZ-ZmaSTJl7XcRKJeYuRu82IwmIdMz?usp=sharing
https://drive.google.com/drive/folders/1Gv58Sr9WMfsm0jXLhYgkwxqXUKEyi34f?usp=sharing
