<!DOCTYPE html>
{%extends 'newApp/store.html'%}
{% load static %}
{% block xyz %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static "css/store.css" %}">
{%endblock%}
{%block body_block%}
<section class="the">
    <div class="container">
      <h1>The Bundle of Sticks</h1><br>
      <h2>  Moral:<span>There’s strength in unity.</span> </h2>
      <img id="ab"src="{% static "images/img12.webp" %}" alt="">
      <p>Once upon a time, there was an old man who lived in a village with his three sons. Although his three sons were hard workers, they quarreled all the time. The old man tried to unite them but failed.

Months passed by, and the old man became sick. He asked his sons to remain united, but they failed to listen to him. At that moment, the old man decided to teach them a lesson — to forget their differences and come together in unity.

The old man summoned his sons, then proceeded to tell them, “I will provide you with a bundle of sticks. Separate each stick, and then break each into two. The one who finishes first will be rewarded more than the others.”

And so, the sons agreed. The old man provided them with a bundle of ten sticks each, and then asked the sons to break each stick into pieces. The sons broke the sticks within minutes, then proceeded to quarrel among themselves again.

The old man said, “My dear sons, the game is not yet over. I will now give you another bundle of sticks. Only this time, you will have to break them together as a bundle, not separately.”

The sons readily agreed and then tried to break the bundle. Despite trying their best, they could not break the sticks. The sons told their father of their failure.

The old man said, “My dear sons, see! Breaking every single stick individually was easy for you, but breaking them in a bundle, you could not do. By staying united, nobody can harm you. If you continue to quarrel, then anyone can quickly defeat you.”

The old man continued, “I ask that you stay united.” Then, the three sons understood there’s power in unity, and promised their father they would all stay together.</p>
    </div>
</section>

{%endblock%}
