<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static "css/contact.css" %}">

    <title></title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
          <h1 class="tt">GROWTH.com</h1>
            <p class="side">THE WORLD'S LARGEST ALL-IN-ONE SITE</p>
        </div>
      </div>
    </header>
    <ul>
    <li ><h1 class="active" >CONTACT</h1></li>
    <li id="o"><a href="/home"><i class="fa fa-home" style="font-size:24px">Home</i></a></li>
    <li id="o"><a href="/story">Stories</a></li>
    <li id="o"><a href="/rent">Rental</a></li>
    <li id="o"><a href="/plan">Planner</a></li>
    <li id="o"><a href="/about">About</a></li>
    <li ><a class="ss" href="/accounts/logout/">Logout</a></li>
    <li><a class="ss" href="/signup">SignUp</a></li>
    <li><a class="ss" href="/accounts/login/">Login</a></li>
  </ul>
  <section class="con">
    <div><br>
      <h1>CONTACTS</h1>
      <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-4">
          <h2 id="hh">Getting In Touch In Easy!</h2>
          <div class="bor">
            <h1></h1>
          </div>
          <h3>Contact Info</h3>
          <h2 id="ad">Address: <span>180092, Apermengting <span class="mo">Kalyani  Mountain</span> <span id="moo"> Venue,
            Land  Andheri <span class="mumb"> MUMBAI.</span></span> </span> </h2>
          <h2 id="ad">Phone: <span>+209474438 </span></h2>
          <h2 id="ad">Email: <span>growthmains286@gmail.com </span></h2>
          <h3>Get Social</h3>
          <div class="cent">
            <a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-google"></a>
<a href="#" class="fa fa-linkedin"></a>
<a href="#" class="fa fa-youtube"></a>
<a href="#" class="fa fa-instagram"></a>
<a href="#" class="fa fa-pinterest"></a>
<a href="#" class="fa fa-snapchat-ghost"></a>
<a href="#" class="fa fa-skype"></a><br><br>
      </div>
    </div>

      <div class="col-sm-8 col-md-4">
        <h2 class="ot">Our Offices</h2>
      </div>

      </div>
      </div>

  </section>
