<!DOCTYPE html>
{%extends 'newApp/story.html'%}
{% load static %}
{% block yz %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static "css/store.css" %}">
{%endblock%}
{% block body_blocks%}
<section class="gk">
  <div class="co">
      <div class="container"><br><br>
    <h1>Current Affairs</h1><br>
    <p>General Knowledge List: This category caters not only to competition aspirants but also very useful for general readers. Gk Facts: This category contains the research based content on general knowledge from various fields like mythology, Science, Defence etc. </p>
    <br><br><br>
  </div>
</div>
<h2>Indian Economy:</h2><br><br><br><br>
</section>
</section>
<section class="his">
<div class="container">
  <h1>What is ASEEM Digital Platform and Why is it started?</h1><br>
  <p>The Ministry of Skill Development and Entrepreneurship has introduced Artificial Intelligence based 'ASEEM' digital platform to bridge the gap between the demand-supply of skilled employees in various fields. The purpose of this portal is to provide employment opportunities to the skilled and non-skilled people who have returned to villages and India due to corona disease.</p>
<br>  </div>
<div class="h">
  <p></p>
</div><br><br>
<div class="container">
  <h1>What is the Form 26AS?</h1><br>
  <p>Form 26AS is your annual tax statement. You can find it from the website of the income tax department with the help of your PAN number. Form 26AS contains information about the tax you paid to the government. This form will reflect details of all high-value transactions made by the taxpayers.</p>
<br>  </div>
<div class="h">
  <p></p>
</div><br><br>
<div class="container">
  <h1>How much Tax do you pay on Diesel & Petrol in India</h1><br>
  <p>In 2020, the excise duty has increased at least 10 times since 2014. The excise duty on diesel is now Rs 31.83 and on petrol Rs 32.98 in 2020. Worth to mention that tax on petrol was Rs 9.48 per litre and on diesel, it was Rs3.56 a litre when the Modi government took office in 2014.</p>
<br>  </div>
<div class="h">
  <p></p>
</div><br><br>
<div class="container">
  <h1>List of Products India imports from China</h1><br>
  <p>China is the source of around 14% of total Indian imports. Indian import from China includes; electrical machinery, cell phones, heavy machinery, telecom, power, plastic toys and critical pharma ingredients, furniture, pharma, fertiliser, food, and textiles, etc. India has imported goods worth $62.4 billion from China during April 2019-February 2020 period.</p>
<br>  </div>
<div class="h">
  <p></p>
</div><br><br>
<div class="container">
  <h1>What is Floating Rate Bond?</h1><br>
  <p>The Government of India has launched the Floating Rate Bond 2020 scheme from July 01, 2020. The tenure of this bond will be 7 years. The interest rate on floating bonds will change every 6 months on January 1 and July 1. The minimum amount to invest in bonds will be Rs 1000 (digital mode) and maximum Rs 20 thousand in cash.</p>
<br>  </div>
<div class="h">
  <p></p>
</div><br><br>
<div class="container">
  <h1>Why is Gold Price Rising in India?</h1><br>
  <p>According to the World Gold Council, Indian household has around between 24,000 to 25,000 tonnes of gold. India's central bank RBI had purchased 40.45 tonnes of gold in the financial year 2019-20, which has now has a total reserve of 653 tonnes. Let us know in this article, why is the price of gold increasing in the country despite the huge storage of the Gold in India? </p>
<br>  </div>
<div class="h">
  <p></p>
</div><br><br>
<div class="container">
  <h1>Sinking Fund: Meaning and objectives</h1><br>
  <p>A sinking fund is a kind of fund in which an amount is deposited at regular intervals that can be used to repay the debt in the future. It is called Debt Remittance Fund. There are only 23 states in India have created a sinking fund. Read this article to know the meaning, objectives, and example of a sinking fund.</p>
<br>  </div>
<div class="h">
  <p></p>
</div><br><br>
<div class="container">
    <h1>List of Finance Ministers of India</h1><br>
<p>Ministry of Finance is one of the most important ministries within the Government of India and is headed by the Finance Minister. Nirmala Sitharaman is the current Finance Minister of India. She took charge on 31 May 2019. Let us have a look at the list of Finance Ministers of India from 1947 till present.  </p>
<br>  </div>
<div class="h">
  <p></p>
</div><br><br>
<a id="ba" href="/gk">Back To G.K</a> <br><br><br><br>
</section>


{%endblock%}
