<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/story.css" %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title></title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
          <h1 class="tt">GROWTH.com</h1>
            <p class="side">THE WORLD'S LARGEST ALL-IN-ONE SITE</p>
        </div>
      </div>
    </header>
    <ul>
    <li><h1 class="active" >EDUCATION</h1></li>
    <li><a  href="/home"><i class="fa fa-home" style="font-size:24px">Home</i></a></li>
    <li><a href="/about">Online</a></li>
    <li><a href="#about">Offline</a></li>
    <li><a href="#about">Exams</a></li>
    <li><a href="/about">AboutUs</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a class="ss" href="/accounts/logout/">Logout</a></li>
    <li><a class="ss" href="/signup">SignUp</a></li>
    <li><a class="ss" href="/accounts/login/">Login</a></li>
  </ul>
  <div class="head">
<h1 >WELCOME TO OUR <br>EDUCATION SECTION </h1>
<p>As we known that in our day life we needs some enjoyment or intertainment. So <br>we decided that we came some intrsting things
for all of us. we provided <br> somes jokes and funny stories. and some easy test also provided in this <br> section and it is only for childrens.</p>
<br><br><br> </div><br><br><br>
</section>
<section class="intro-area white" id="intro">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
    <div class="row">
      <div class="col-sm-6">
        <br><br>
        <div id="text">
          <div class="intro-block" >
            <span class="intro-icon"><i class="fa fa-universal-access" style="font-size:48px;color:red"></i>
</span>
            <h3>Online Class</h3>
            <p>A joke is a short humorous piece of oral literature in which the <br> funniness culminates in the final sentence, called the <br>
               punchlin In fact, the main condition is that the tension should <br> reach its highest level at the very end. </p>
        </div>
        </div>
    </div>
    <div class="col-sm-6">
      <br><br>
      <div id="text1">
        <div class="intro-block">
          <span class="intro-icon"><i class="fa fa-calendar" style="font-size:48px;color:red"></i>
</i></span>
          <h3>Offline Class</h3>
          <p>Current Affairs refer to the events of national and international importance  relevant from competitive exams perspective
             like Civil Services  . With the change in the pattern of examinations, <br> questions related to current events</p>
        </div>
      </div>
    </div>

  </div>
</div>
            <div class="col-sm-6 text-center">
              <br><br><br><br>
              <div id="text4">
                <div class="intro-block">
                  <span class="intro-icon"><i class="fa fa-user-secret" style="font-size:48px;color:red"></i>
</span>
                  <h3>Home Facility </h3>
                  <p>Short story, brief fictional prose narrative that is shorter than a <br> novel and that usually deals with only a few
                     characters.<br> The  short story is usually concerned with a single effect <br>conveyed in   few significant episodes.</p>
                </div>
              </div>
            </div>
              <div class="col-sm-6 text-center">
                <br><br><br><br>
                <div id="text5">
                  <div class="intro-block">
                    <span class="intro-icon"><i class="fa fa-address-card-o" style="font-size:48px;color:red"></i>
</span>
                    <h3>Exams</h3>
                    <p>A quiz is a form of game or mind sport, attempt to answer questions <br> correctly. It is a game to test knowledge about
                    a certain<br> subject. In  a quiz is also a brief assessment used in education<br> fields to measure growth inskills.</p>
                  </div>
                </div>
              </div>
  </div>
</div>

  </body>
</html>
