<!DOCTYPE html>
{%extends 'newApp/store.html'%}
{% load static %}
{% block xyz %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static "css/store.css" %}">
{%endblock%}
{%block body_block%}
<section class="the">
    <div class="container">
      <h1>Elephant Marvel and Friends</h1><br>
      <h2>  Moral:<span>Friends come in every shape and size.</span> </h2>
      <img id="ab"src="{% static "images/img7.webp" %}" alt="">
      <p>A lone elephant walked through the forest, looking for friends. She soon saw a monkey and proceeded to ask, ‘Can we be friends, monkey?’

The monkey quickly replied, ‘You are big and can’t swing on trees like I do, so I cannot be your friend.’

Defeated, the elephant continued to search when it stumbled across a rabbit. She proceeded to ask him, ‘Can we be friends, rabbit?’

The rabbit looked at the elephant and replied, “You are too big to fit inside my burrow. You cannot be my friend.”

Then, the elephant continued until she met a frog. She asked, “Will you be my friend, frog?”

The frog replied, “You are too big and heavy; you cannot jump like me. I am sorry, but you can’t be my friend.”

The elephant continued to ask the animals she met on her way, but always received the same reply. The following day, the elephant saw all the forest animals run in fear. She stopped a bear to ask what was happening and was told the tiger was attacking all the small animals.

The elephant wanted to save the other animals, so she went to the tiger and said, “Please, sir, leave my friends alone. Do not eat them.”

The tiger didn’t listen. He merely told the elephant to mind her own business.

Seeing no other way, the elephant kicked the tiger and scared him away. Upon hearing of the brave tale, the other animals agreed, “You are just the right size to be our friend.”

</p>
    </div>
</section>

{%endblock%}
