<!DOCTYPE html>
{%extends 'newApp/story.html'%}
{% load static %}
{% block yz %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static "css/store.css" %}">
{%endblock%}
{% block body_blocks%}
<section class="gk">
  <div class="co">
      <div class="container"><br><br>
    <h1>Current Affairs</h1><br>
    <p>General Knowledge List: This category caters not only to competition aspirants but also very useful for general readers. Gk Facts: This category contains the research based content on general knowledge from various fields like mythology, Science, Defence etc. </p>
    <br><br><br>
  </div>
</div>
<h2>Geography Of India:</h2><br><br><br><br>
</section>
<section class="his">
<div class="container">
  <h1>Where is Lonar lake and how was it formed?</h1><br>
  <p>Lonar Lake is located in the Buldhana district of Maharashtra. This lake is a notified National Geographical Heritage monument in India. Lonar Lake is 500 km from Mumbai in Buldhana district. Recently this lake was in the news because its water turned pink due to a reason. Let us discuss Lonar lake in this article and the reasons for change in the colour of its water. </p>
<br>  </div>
<div class="h">
  <p></p>
</div><br><br>
<div class="container">
  <h1>What is a Tropical Cyclone, how is it formed and its effects</h1><br>
  <p>As we know that Cyclone Amphan, the extremely severe cyclonic storm has now turned into a super cyclonic storm. The storm over West-central Bay of Bengal has moved north-northeastwards with a speed of 15 kmph during past 06 hours. IMD issued a warning and all fishing activity is suspended in Bengal and Odisha till 20 May. Do you know what is a Tropical cyclone, how is it formed and its effects.  </p>
<br>  </div>
<div class="h">
  <p></p>
</div><br><br>
<div class="container">
  <h1>Schedule Tribes in India</h1><br>
<p> As per 1951 census, 5.6% of the total population of the country was tribal. According to Census-2011, the number of scheduled tribes in India is 10, 42, 81,034. It is 8.6% of the total population of India. A total of 9, 38, 19,162 people belonging to scheduled tribes reside in rural areas whereas 1, 04, 61,872 people in urban areas.  The scheduled tribes are 11.3% of the total population of rural areas and 2.8% of urban areas. There are about 550 tribes in India.</p>
<br>  </div>
<div class="h">
  <p></p>
</div><br><br>
<div class="container">
  <h1>Water Management</h1><br>
  <p>Water management is referred to the planning, developing, distributing and optimum use of water resources under defined water polices and regulations.  The water cycle, through evaporation and precipitation, maintains hydrological systems which form rivers and lakes and support in a variety of aquatic ecosystems. Wetlands are intermediate forms between terrestrial and aquatic ecosystems and contain species of plants and animals that are highly moisture dependent.</p>
<br>  </div>
<div class="h">
  <p></p>
</div><br><br>
<div class="container">
  <h1>What is National Water Grid?</h1><br>
  <p>The National Water Grid is a large scale engineering proposal for the management of water resources in India by the interlinking of the Indian rivers through networks of reservoir and canals. In this article, we have discussed about the advantages and disadvantages of the national Water Grid as well as the National River Linking Project Plan which is very useful for the competitive examinations like UPSC-prelims, SSC, State Services, NDA, CDS, and Railways etc.</p>
<br>  </div>
<div class="h">
  <p></p>
</div><br><br>
<div class="container">
  <h1>Meaning and Impact of the Green Revolution in India</h1><br>
  <p>The Green Revolution is referred to as the process of increasing agricultural production by incorporating modern tools and techniques. In the second half of Second Five year plan, Ford Foundation sponsored a team of experts invited by the Government of India to propose ways to boost agricultural production & efficiency. As per recommendations of the expert team, government of India introduced a rigorous development programme in 7 districts selected from seven States in the year 1960. This programme was termed as IADP (Intensive Area Development Programme).</p>
<br>  </div>
<div class="h">
  <p></p>
</div><br><br>
<div class="container">
  <h1>Major Climatic Regions of the world</h1><br>
  <p>The world has several climatic zones but geographer defined the climatic region is based on maximum and minimum temperatures and the temperature range as well as the total and seasonal distribution of precipitation for better understanding. Find out the Major Climatic Regions of the world which is very useful for the preparation of competitive examinations like UPSC-prelims, SSC, State Services, NDA, CDS, and Railways etc.</p>
<br>  </div>
<div class="h">
  <p></p>
</div><br><br>
<div class="container">
  <h1>Top 10 Worst Earthquakes in India</h1><br>
  <p>An Earthquake is basically the vibration of Earth produced by the rapid release of energy. This energy radiates in all directions from the source, focus, in the form of waves. India is divided into five earthquake Zones (Seismic Zones) based on the intensities of earthquakes recorded on the Modified Mercalli Scale. In this article, we are giving list top 10 Worst Earthquakes in India which is very useful for the competitive examinations like UPSC-prelims, SSC, State Services, NDA, CDS, and Railways etc.</p>
<br>  </div>
<div class="h">
  <p></p>
</div><br><br>
<a id="ba" href="/gk">Back To G.K</a> <br><br><br><br>
</section>

{%endblock%}
