<!DOCTYPE html>
{%extends 'newApp/story.html'%}
{% load static %}
{% block yz %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static "css/store.css" %}">
{%endblock%}
{% block body_blocks%}
<section class="gk">
  <div class="co">
      <div class="container"><br><br>
    <h1>Current Affairs</h1><br>
    <p>General Knowledge List: This category caters not only to competition aspirants but also very useful for general readers. Gk Facts: This category contains the research based content on general knowledge from various fields like mythology, Science, Defence etc. </p>
    <br><br><br>
  </div>
</div>
<h2>History Of India:</h2><br><br><br><br>
</section>
<section class="his">
<div class="container">
  <h1>Summary of Indian National Movement</h1><br>
  <p>The Indian National Movement was an organised mass movement concerned with the interests of the people of India and affected by both internal and external factors. It led to the formation of Indian National Congress in 1885 and several revolts broke out across the country. Formation of Muslim League in 1906, Swadeshi Movement 1905 etc. which spearheaded the freedom struggle in India from 1885 to 1947.</p>
<br>  </div>
<div class="h">
  <p></p>
</div><br><br>
<div class="container">
  <h1>Timeline of Babri Masjid - Ram Janmabhoomi Dispute Case</h1><br>
  <p>The Babri Masjid-Ram Janmabhumi Disputes has proven to be sources of religious and political conflicts. The main issues were around the possession of the site because groups of Hindu organisation claim that Mosque was built after demolishing the temple and also the site to be the birthplace of the Hindu deity i.e. Rama whereas Muslim claims that the Mosque was never built after the demolition but with the help of the ruins of temples. Here, we are giving a complete timeline of the Babri Masjid-Ram Janmabhoomi Dispute Case. </p>
<br>  </div>
<div class="h">
  <p></p>
</div><br><br>
<div class="container">
  <h1>Kargil Vijay Diwas: The brief History of Kargil War</h1><br>
  <p>Kargil War or Kargil conflict happened between May and July 1999 within the Kargil district of Jammu and Kashmir. The war signifies an armed conflict between India and Pakistan. What was Kargil War 1999 was all about? What were the military and diplomatic challenges? Why the war took place? What is the history behind the Kargil War? Let us have a look!</p>
<br>  </div>
<div class="h">
  <p></p>
</div><br><br>
<div class="container">
  <h1>Chhatrapati Shivaji Maharaj: Biography, History and Administration</h1><br>
  <p>Chhatrapati Shivaji Maharaj: He was one of the greatest warriors of his time and founder of the Maratha Empire. Shivaji himself enthroned as an independent sovereign in 1674. For six years he ruled his domain via cabinet of eight ministers. Let us have a look at his early life, administration, battles, etc.    </p>
<br>  </div>
<div class="h">
  <p></p>
</div><br><br>
<div class="container">
  <h1>Do you know how India got her name as “Bharat”</h1><br>
  <p>India i.e. Bharat is the union of states and a fusion of various religions, cultures, customs, heritage etc. which makes it an intriguing nation embracing the diversity of this world. Since ancient times our nation has been termed as Bharat (Sanskrit original name). There are some stories of various historians which fascinate us and explain How India got the name Bharat.</p>
<br>  </div>
<div class="h">
  <p></p>
</div><br><br>
<div class="container">
  <h1>The Chalcolithic Culture</h1><br>
  <p>With the end of the Neolithic Age, several cultures started using metal, mostly copper and low grade bronze. The culture based on the use of copper and stone was termed as Chalcolithic meaning stone-copper Phase. In India, it spanned around 2000 BC to 700 BC. This culture was mainly seen in Pre-Harappan phase, but at many places it extended to Post-Harappan phase too. The people were mostly rural and lived near hills and rivers. The Chalcolithic culture corresponds to the farming communities, namely Kayatha, Ahar or Banas, Malwa, and Jorwe.</p>
<br>  </div>
<div class="h">
  <p></p>
</div><br><br>
<div class="container">
  <h1>The Mesolithic Age</h1><br>
  <p>The Mesolithic Age, also known as Middle Stone Age, was the second part of the Stone Age. In India, it spanned from 9,000 B.C. to 4,000 B.C. This age is characterized by the appearance of Microliths (small bladed stone tools). The Mesolithic Age was a transitional phase between the Paleolithic Age and the Neolithic Age. The people of this age lived on hunting, fishing, and food gathering; later on they also domesticated animals.</p>
<br>  </div>
<div class="h">
  <p></p>
</div><br><br>
<div class="container">
  <h1>List of Famous Dramatists of Theatre in Indian Classical Period</h1><br>
  <p>The Drama theatre in India is as old as the Indian culture which boasts its glorious association with illustrious Indian dramatists since its antiquity. The term Indian classical drama refers to the tradition of dramatic literature and performance in ancient India. During ancient India, there were great dramatists and their creation is magnum opus. In this article, we are giving the list of Famous Dramatists of Theatre in Indian Classical Period, which is very useful for the competitive examinations like UPSC-prelims, SSC, State Services, NDA, CDS, and Railways etc.</p>
<br>  </div>
<div class="h">
  <p></p>
</div><br><br>
<a id="ba" href="/gk">Back To G.K</a> <br><br><br><br>
</section>

{%endblock%}
