<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static "css/new.css" %}">

    <title></title>
  </head>
  <a href="top"></a>
  <body>
<header>
  <div class="container">
    <div class="row">
      <h1 class="tt">GROWTH.com</h1>
        <p class="side">THE WORLD'S LARGEST ALL-IN-ONE SITE</p>
    </div>
  </div>
</header>
<div class="topnav">
  <a href="/story">STORIES</a>
  <a href="/rent">RENTAL</a>
  <a href="/plan">PLANNER</a>
  <a href="/about">ABOUTUS</a>
  <a href="/contact">CONTACT</a>
  <a id="aa"href="google.com"> <i class="fa fa-search"></i></a>
</div>
{%block body_block%}

<section class="new">
  <div class="news">
    <h1 class="dd">BE  GOOD  WITH  YOUR  MONEY <br> <span> SO  YOU  CAN  BE  CREATIVE <br>WITH  YOUR  TIME</span> </h1>
    <p id="pp">See, UnderStand and Do More With Your Finance EveryDay</p><br>
    <a href="/accounts/logout/"> <button type="button" class="btn btn-warning">Sign Up Free<i class="fa fa-sign-in"></i></button></a> <br><br>
    <a href="/accounts/login/"> <button id="log"type="button" class="btn btn-warning">Login<i class="fa fa-lock"></i></button>

     </a> <br><br><br><br><br><br>
  </div>
</section>
<section class="first">
  <div class="row">
  <div  class="col-sm-12 col-md-4">
<h2 class="one">Always Up-To-Date</h2>
<p class="two" >Web Applications deliver manybusiness benefits compared to office based solutions and give muchfacilities
   less time spent talking to <br>customers  over the phone.</p><br><br>
   <i  id="onee"class="fa fa-suitcase" style="font-size:40px;color:#453ea8"></i><br><br><br>


  </div>
  <div  class="col-sm-12 col-md-4">
<h2 class="one">All-In-One</h2>
<p class="two">A facility is a formal financial assistance program offered by a lending institution to help a <br> company
   that requires operating capital Types <br> of facilities include overdraft services.</p><br><br>
   <i id="onee" class="fa fa-bath" style="font-size:40px;text-align: center;color:#453ea8"></i><br><br><br>

  </div>
  <div class="col-sm-12 col-md-4">
<h2 class="one">Easy-Flexible SetUp</h2>
<p class="two">This application is very easy for all user. it contains simple activities and flexibe <br>setup. so there are
   no any faces difficulty <br> setup for new users connect with us. </p><br><br>
   <i id="onee" class="fa fa-gears" style="font-size:40px;color:#453ea8"></i><br><br><br>
<br>
  </div>
</div>
</section>
<section class="second">
  <div class="row">
    <div id="abc" class="col-sm-12 col-md-6">
<img id="ab"src="{% static "images/data.jpg" %}" alt="">
</div>
    <div  class="col-sm-12 col-md-6">
      <div class="again">
        <h1 class="aag">Personalized For You</h1><br><br><br>
        <p class="side"><i id="lo" class="fa fa-check-square-o" style="font-size:24px;"></i>We provides various facilties for you.
        Just go through it and enjoy it.</p><br><br>
        <p class="side"><i id="lo" class="fa fa-chevron-circle-right" style="font-size:24px"></i>Everything are here free.
        Only login or if new please sign-in.</p><br><br>
          <p class="side"> <i id="lo" class='fa fa-comments' style='font-size:24px'></i>We also provie rental services
          for house, bike etc.Enjoy your booking</p><br><br>
          <p class="side"><i id="lo" class='fa fa-download' style='font-size:24px'></i>For funny purpose there are also
          intresting stories in story section.</p><br><br>
          <p class="side"><i id="lo" class='fa fa-edit' style='font-size:24px'></i>You also enjoy dating and games facility
          and also give some  tests.</p><br><br>
      </div>
    </div>
  </div>
</section>
<section class="part">
  <div class="row">
    <h1 id="mid">Intutive Features and Powerful Design</h1>
    <p id="midd">growth is versatile enough to helpful for everyone and <br>there is no any paid otion.Every thing there are free of cost.<br>
    There is no any wrong way to use this application and nothing <br>to loose for getting started.You will be suprside <br> how beautyful design and
  details about evertything whhatever.</p><br><br><br><br>
  <div class="side">
        <div class="col-sm-9 col-md-3">
      <img id="aaa"src="{% static "images/game.jpg" %}" alt=""><br><br><br>
    </div>
    <div class="col-sm-9 col-md-3">
      <img id="bbb"src="{% static "images/date.jpg" %}" alt=""><br><br><br>
    </div>
    <div class="col-sm-9 col-md-3">
      <img id="ccc"src="{% static "images/planner.jpeg" %}" alt=""><br><br><br>
    </div>
  </div>
  </div>
</section>
<section class="last">
  <div class="row">
    <div class="col-sm-12 col-md-3">
      <i id="hello" class='fa fa-address-card' style='font-size:36px'></i>
      <h2 id="helo">Track Everyparts </h2><br>
      <p id="he">We have different parts. So you must have to visit everyparts
      and give your feedback also in feedback sections.</p>
    </div>
    <div class="col-sm-12 col-md-3">
      <i id="hello" class='fa fa-rocket' style='font-size:36px'></i>
      <h2 id="helo">Different Projects </h2><br>
      <p id="he">There are some more features such as reading stories, giving basic
      tests. It is somethings interesting parts just enjoy it.</p>
    </div>
    <div class="col-sm-12 col-md-6">
    <h1 class="team">Our Connections</h1>
</div>
</div>

<div class="row">

    <div class="col-sm-12 col-md-3">
      <i id="hello" class='fa fa-users' style='font-size:36px'></i>
      <h2 id="helo">Online Education  </h2><br>
      <p id="he">In growth application education facilities are provided by us.
      so register here to join for online training.</p>
    </div>
    <div class="col-sm-12 col-md-3">
      <i id="hello" class='fa fa-male' style='font-size:36px'></i>
      <h2 id="helo">Gmaes & Dating </h2><br>
      <p id="he">For children purpose we provide games as for only fun.
      For Adults we providing dating for others one.</p>
    </div>
    <div class="col-sm-12 col-md-6">
      <h2 class="comp">Pay pal</h2>
      <h2 class="comp">Stripe</h2>
      <h2 class="comp">Funbox</h2>
      <h2 class="comp">Fire Fox</h2>
      <h2 class="compa">Git Hub</h2>
      <h2 class="compa">Chrome</h2>
      <h2 class="compa">soft Link</h2>
      <h2 class="compa">Meeting</h2>
    </div>
  </div>
</section>
</section>
<section class="download downloadnow" id="download">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="title"><br><br><br>
          <h2>DOWNLOAD</h2><br>
          <div class="sub-heading">
              <p>Downloading is the transmission of a file from one computer system to another, usually smaller computer <br> system. From the Internet user's point-of-view, to download a file is to request it from <br>another computer (or from a Web page on another computer) and to receive it.</p>
        <br><br><br><br>  </div>
        </div>
      </div>
      <div class="social-button text-center">
      <a href="#" class="btn default-btn"><i class="fa fa-lock"></i> app store</a>
      <a href="#" class="btn default-btn"><i class="fa fa-lock"></i> play store</a>
      <a href="#" class="btn default-btn"><i class="fa fa-lock"></i> windows</a><br><br><br><br><br>
    </div>
      </div>
  </div>
</section>
<h1> <a href="#top">go top</a> </h1>
{%endblock%}

</body>
</html>
