<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/store.css" %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block xyz %}{% endblock %}
    <title></title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
          <h1 class="tt">GROWTH.com</h1>
            <p class="side">THE WORLD'S LARGEST ALL-IN-ONE SITE</p>
        </div>
      </div>
    </header>
    <ul class="uu">
    <li><h1 class="active" >STORIES</h1></li>
    <li class="ll"><a id="new" href="/home"><i class="fa fa-home" style="font-size:24px;">Home</i></a></li>
    <li class="ll"><a href="/store">Story</a></li>
    <li class="ll"><a href="/gk">G.K</a></li>
    <li class="ll"><a href="#about">Test</a></li>
    <li class="ll"><a href="/about">AboutUs</a></li>
    <li class="ll"><a href="/contact">Contact</a></li>
    <li class="ll"><a class="ss" href="/accounts/logout/">Logout</a></li>
    <li class="ll"><a class="ss" href="/signup">SignUp</a></li>
    <li class="ll"><a class="ss" href="/accounts/login/">Login</a></li>
  </ul>
  <div class="">
    <div class="co"><br><br>
      <h1 id="h1">Good Short Moral Stories for Kids</h1><br>
      <p id="p">20 short moral stories you can read <br> with your child and what they’ll learn from them.</p><br><br>
    </div>
  </div>
  <section class="stor">
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <div class="aa">
<h3> <span>1 .</span> <a href="/theboy"> The Boy Who Cried Wolf</a></h3>
<h3><span>2 .</span> <a href="/thegolden">The Best Golden Touch</a></h3>
<h3><span>3 .</span> <a href="/thefox">The Fox and the Grapes</a></h3>
<h3><span>4 .</span> <a href="/theproud">The Main Proud Roses</a></h3>
<h3><span>5 .</span> <a href="/themilk">The Milkmaid and Her Pail</a></h3>
<h3><span>6. </span> <a href="/awise">The Wise Old Blind Owl</a></h3>
<h3><span>7. </span> <a href="/goldenegg">The Ancient Golden Egg</a></h3>
<h3><span>8 .</span> <a href="/thefarmer">The Farmer and the Well</a></h3>
<h3><span>9 .</span> <a href="/elephant">Elephant Marvel and Friends</a></h3>
<h3><span>10 .</span> <a href="/when">When The Adversity Knocks</a></h3>
<h3><span>11 .</span> <a href="/niddle">The Old And Needle Tree</a></h3>
<h3><span>12 .</span> <a href="/aglass">The Half Glass of Milk</a></h3>
<h3><span>13 .</span> <a href="/theants">The Ants and the Grasshopper</a></h3>
<h3><span>14 .</span> <a href="/bundle">The Bundle of Sticks</a></h3>
<h3><span>15 .</span> <a href="/thebear">The Bear and the Two Friends</a></h3>
<h3><span>16 .</span> <a href="/miser">The Miser and His Gold</a></h3>
<h3><span>17 .</span> <a href="/thedog">The Anny Dog At the Well</a></h3>
<h3><span>18 .</span> <a href="/control">The High Controlling Anger</a></h3>
<h3><span>19 .</span> <a href="/theleap">The Leap at The Rhodes</a></h3>
<h3><span>20 .</span> <a href="/thewolf">The Wolf and the Sheep</a></h3>
    </div>
  </div>
 
{%block body_block%}
    <div class="col-sm-12 col-md-9">
      <div class="container"><br><br><br><br>
        <h1 id="one"> Benefits To Reading Aloud </h1>
        <img id="aaa"src="{% static "images/story.jpg" %}" alt=""><br><br><br><br><br>
        <p id="read">Reading to older children offers a great method to teach them life lessons <br> in a way that they’ll understand. And it’s easier than ever to find these <br> moral stories to read.

There is a large selection of short moral stories for kids <br> online. They range from the classics like The Boy Who Cried Wolf, to somber ones <br> talking about greed. To help you out, we’ve gathered a selection of  most popular stories.
</p>
   <a class="ank" href="/theboy">Start Reading Story</a>
      </div>
    </div>
    </div>
    </div>
  </div>
  {%endblock%}

  <div class="rr">
      <div class="row"><br> <br><br>
              <div class="col-sm-12 col-md-4">
    <h1 id="two">How Moral Stories Benefit Children</h1>
    <p id="abc">Moral stories offer several benefits for children of all ages. They work to engage your child’s imagination, are entertaining, and can make your little one smile. Short moral stories work well at getting your child’s attention, keeping them focused during the length of the story.</p>
  </div>
  <div class="col-sm-12 col-md-4">
<h1 id="two">The Takeaway Stories Benefit</h1>
<p id="abc">Moral stories offer several benefits for children of all ages. They work to engage your child’s imagination, are entertaining, and can make your little one smile. Short moral stories work well at getting your child’s attention, keeping them focused during the length of the story.</p>

</div>
<div class="col-sm-12 col-md-4">
<h1 id="two">Make Strong Speaking Ability</h1>
<p id="abc">Moral stories offer several benefits for children of all ages. They work to engage your child’s imagination, are entertaining, and can make your little one smile. Short moral stories work well at getting your child’s attention, keeping them focused during the length of the story.</p>

</div>
</div>
</div>
</div>

</section>

</body>
</html>
