<!DOCTYPE html>
{%extends 'newApp/store.html'%}
{% load static %}
{% block xyz %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static "css/store.css" %}">
{%endblock%}
{%block body_block%}
<section class="the">
    <div class="container">
      <h1>The Ants and the Grasshopper</h1><br>
      <h2>  Moral:<span>There’s a time for work and a time for play.</span> </h2>
      <img id="ab"src="{% static "images/img11.webp" %}" alt="">
      <p>One bright autumn day, a family of ants was busy working in the warm sunshine. They were drying out the grain they had stored up during the summer when a starving grasshopper came up. With his fiddle under his arm, the grasshopper humbly begged for a bite to eat.

“What!” cried the ants, “Haven’t you stored any food away for the winter? What in the world were you doing all summer?”

“I didn’t have time to store any food before winter,” the grasshopper whined. “I was too busy making music that the summer flew by.”

The ants simply shrugged their shoulders and said, “Making music, were you? Very well, now dance!” The ants then turned their backs on the grasshopper and returned to work.</p>
    </div>
</section>

{%endblock%}
